<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="blackbird_clean_image_cache" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Clean Image Cache</label>
            <tab>blackbird</tab>
            <resource>Blackbird_UrlRewrite::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" type="select" translate="label" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment>Clean product image cache on product save. That can impact product page performance at first load after product save</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>blackbird_clean_image_cache/general/enable</config_path>
                </field>
                <field id="areas" type="multiselect" translate="label" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Areas</label>
                    <source_model>Blackbird\CleanProductImageCache\Model\Config\Source\AppArea</source_model>
                    <comment>Define on which product save area you want to clean image cache</comment>
                    <config_path>blackbird_clean_image_cache/general/areas</config_path>
                </field>
            </group>
        </section>
    </system>
</config>

